#root{
    justify-content: center;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    display: flex;
    width: 18rem;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
  }
  
  .card-header {
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 0.5rem;
  }
  .button-votar {
    background-color: #5b4caf; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 12px; 
    margin: 4px 2px; 
    cursor: pointer; 
  }
  .button-resultado {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
  }
